<%= flash[:notice] %>

<div>
  <h2>User Info</h2>
</div>

<%= attachment_image_tag user, :profile_image, :fill, 1800, 1800, format: 'jpeg', size:'100x100', fallback: "no_image.jpg" %>

<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <th>
        <%= link_to following_path(user) do %>
            <%= user.following_user.count %>フォロー
        <% end %>
      </th>
      <th>
        <%= link_to followers_path(user) do %>
          <%= user.follower_user.count %>フォロワー
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <th>
        <% if user == current_user %>
        <% elsif current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST, class: "btn btn-large btn-primary", remote: true %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "btn btn-large btn-primary", remote: true %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<div class = "row">
  <% if user == current_user %>
  <% else %>
    <%= link_to 'DMを送る', dm_create_path(user.id), class: "col-xs-12 btn btn-large btn-primary" %>
  <% end %>
</div>

<div class = "row">
  <%= link_to "", edit_user_path(user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench"  %>
</div>

<h2>New book</h2>

<%= form_for(book) do |f| %>
  <div class="field row">
    <h4>Title</h4>
    <%= f.text_field :title, class:"col-xs-12" %>
  </div>

  <div class="field row">
    <h4>Opinion</h4>
    <%= f.text_area :body, class:"col-xs-12"%>
  </div>

  <div class="actions row">
    <!--<%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %> としなくてもrailsが自動で"Create Bookをいう文字を生成してくれる"-->
    <br><%= f.submit class:"btn btn-primary col-xs-12" %>
  </div>
<% end %>