<%= render 'books/errors', var: @book_new %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'books/list', user: @book.user, book: @book_new %>
    </div>

    <div class="col-md-9">

      <h2>Books</h2>
      <table class="table table-hover table-inverse">

        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr class="book_<%= @book.id %>">
            <%= render 'post', book: @book %>
          </tr>
        </tbody>

      </table>

      <div class="col-xs-9">
        <h4>Comment</h4>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
              <% if @book.user != current_user %>
                <%= form_for [@book, @comment], url: book_comments_path(@book), method: :post, remote: true do |f| %>
                  <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに" %>
                  <%= f.submit "送信する", id:"come"%>
                <% end %>
              <% end %>

              <% @book.comments.each do |comment| %>
                <tr class="comment_<%= comment.id %>">
                  <%= render 'comment', comment: comment %>
                </tr>
              <% end %>
              <%# trタグがもとからないとレイアウトが崩れる,spanだとtabeleタグの外に出てしまう %>
              <%# beforeで#come_newの上にどんどんtrタグが追加される %>
              <tr id="come_new"></tr>

          </tbody>
        </table>
      </span>

    </div>

  </div>
</div>